@import '../variables.less';

/*Page Title*/
.page-head {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #E9E9E9;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.05);
    padding: 20px 25px;
    position: relative;
}

.page-head h2 {
    margin-bottom: 5px;
    margin-top: 6px;
	font-family: 'museo300',sans-serif;
    font-weight: 300;
    font-size: 28px;
	letter-spacing:-1px;
    color: #0061b3;
}

.page-head h2 small {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  letter-spacing: 0;
  font-size: 16px;
  color: #444444;
}

.page-head .breadcrumb {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin-bottom: 0;
    padding: 4px;
}
