@import '../variables.less';

/*
 * Viderty Button Mixin
 */
.viderty-button(@text, @background) {
  color: @text !important;
  background: @background !important;
  box-shadow: 0px 5px 0px darken(@background, 10%) !important;

  &:hover {
    color: @text;
    background: lighten(@background, 10%) !important;
    box-shadow: 0px 5px 0px @background !important;
  }
}

/*
 * Base Button
 */
.btn-viderty {
  font-family: museo300;
  font-size: 16px !important;
  text-transform: uppercase !important;
  border-radius: 5px !important;
  border: 0 none !important;
  padding: 14px 20px !important;
  margin-bottom: 10px !important;
  margin-left: 0 !important;

  .fa {
    font-size: 35px;
    float: left;
    margin-left: 12px;
  }

  .button-text {
    display: block;
    padding: 6px 0 4px 0;
  }
}

.btn-viderty-header {
  &:extend(.btn-viderty);

  position: absolute;
  top: 0;
  right: 0;
  box-shadow: none !important;
  border-radius: 0;
  margin: 0;
  height: 100%;
  vertical-align: middle;

  .button-text {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.btn-title {
  float: right;
}

@media (max-width: 768px) {
  .btn-viderty-header {
    position: inherit;
    display: block;
    padding-top: 10px;
    margin: 10px 0px 0 0px !important;
    float: none !important;

    .button-text {
      position: inherit;
      top: 0;
      transform: none;
    }
  }
}

.viderty-blue {
  .viderty-button(#fff, @viderty-blue);
}

.viderty-green {
  .viderty-button(#fff, @viderty-green);
}

.viderty-purple {
  .viderty-button(#fff, @viderty-purple);
}

.viderty-dark-blue {
  .viderty-button(#fff, @viderty-dark-blue);
}

@media (max-width: 768px) {
  .viderty-dark-blue {
    &.viderty-darken-xs {
      .viderty-button(#fff, darken(@viderty-dark-blue, 5%));
    }
    &.viderty-lighten-xs {
      .viderty-button(#fff, lighten(@viderty-dark-blue, 10%));
    }
  }
}

.btn-input > input {
  max-width: 50px;
}
