@import '../variables.less';

.usage-panel {
  padding-right: 0px;
}

.reports-panel {
  padding-left: 0px;
}

.usage-panel .panel, .reports-panel .panel {
  border-radius: 0;
  border: 0 none;
}

.usage-panel .panel .row, .reports-panel .panel .row {
  margin-top: 0;
  margin-bottom: 0;
}

.usage-panel .panel .panel-heading, .reports-panel .panel .panel-heading {
  font-family: museo300;
  background: #0074d9;
  border-radius: 0;
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
}

.usage-panel .panel .panel-body dl, .reports-panel .panel .panel-body dl {
  margin: 0;
}

.panel-body dl dt {
  width: 50%;
  text-align: left;
  padding: 5px 0 5px 0;
  border-bottom: 1px solid #ddd;
  float: left;
  font-weight: normal;
}

.panel-body dl dd {
  margin-left: 50%;
  padding: 5px 0 5px 5%;
  width: 50%;
  border-bottom: 1px solid #ddd;
}

#stat {
  margin: 0 auto 0 auto;
  height: 85px;
}

@media (max-width: 991px) {

  .usage-panel {
    padding-right: 15px;
  }

  .reports-panel {
    padding-left: 15px;
  }
}

@media (max-width: 768px) {
  #stat {
    margin-top: 20px;
  }
}