@import '../variables.less';

.block-flat {
  margin-bottom: 0;
}

.block-flat .header {
  padding: 10px 15px;
  font-family: museo300;
  color: #fff;
  font-size: 16px;
  position: relative;

  &.header-dark-blue {
    background: @viderty-dark-blue;
  }

  .row {
    margin-top: 0;
  }

  label {
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .block-flat .header {

    padding-bottom: 0;

    label {
      display: block;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

.message .reply {
  background: #FFF;
  border-top: 1px solid #E5E5E5;
  padding: 30px;
}

.form-ticket .control-group {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}