@import '../variables.less';

.free-trial-header {
  background: @viderty-red;
  padding: 20px;
  text-align: center;
  color: #fff;
  font-size: 1.2em;

  span a {
    color: #fff;
    border-bottom: 1px dotted #fff;
  }
}