@media (max-width: 768px) {
  .page-head {
    text-align: center;

    .btn-title {
      float: none;
      margin-top: 15px;
    }

    h2 small {
      display: block;
      padding-top: 5px;
      text-align: center;
    }
  }
}