@import '../variables.less';

.panel-viderty {
  margin-bottom: 0;
  border: 0 none;
  box-shadow: none;
  border-radius: 0;

   > .panel-heading {
     font-family: museo100;
     font-size: 17px;
     box-shadow: none;
     border-radius: 0;
     border: 0 none;
  }

  > .panel-body {
    padding: 0;
  }
}

.panel-heading.viderty-blue {
  color: #fff;
  background: @viderty-blue;
}

/**
 * Styles for Overwrite what appears in Panel
 */
.panel-viderty {
  .list-group {
    margin-bottom: 20px;

    @media (max-width: 768px) {
      margin-bottom: 0;
    }

    .list-group-item {
      border: 0 none;
      font-size: 14px;

      &:nth-child(even) {
        background: #f8f8f8;
      }
    }
  }
}