@import '../variables.less';

.viderty-table {

  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;

  thead, tfoot {
    background: @viderty-blue;
    color: #fff;

    tr > th {
      font-family: museo100;
      font-size: 17px;
      text-transform: uppercase;
      padding: 10px 20px;
      border: 0 none;
    }
  }

  tfoot {
    tr > th {
      font-size: 13px;

      .pagination {
        margin: 0;
      }

      .filter {
        margin-top: 8px;
        select {
          color: #333;
        }
      }
    }
  }

  tbody {
    tr > td {
      vertical-align: middle;
      padding: 10px 20px;
      border-right: 0 none;
      border-left: 0 none;
      color: #444444;

      a {
        color: @viderty-blue;
        font-size: 17px;

        &:hover {
          color: lighten(@viderty-blue, 10%);
        }
      }
    }
  }

}