@import '../variables.less';

.viderty-tabs > li > a {
  font-family: museo300;
  font-size: 17px;
  padding: 9px 20px;
  color: @viderty-blue;

  &:hover {
    color: lighten(@viderty-blue, 10%);
  }
}

.viderty-tabs > li.active > a {
  border-top: 2px solid @viderty-blue;
}

.tab-pane .nav-tabs > li.active > a {
  font-family: museo300;
  font-size: 17px;
  padding: 9px 20px;
}

.tab-pane .list-group {
  margin-bottom: 0;

  .list-group-item {

    background: #eeeeee;
    font-size: 15px;
    border: 0 none;
    margin-bottom: 5px;

    a {
      color: #444444;
    }

    .label {
      float: right;
      font-family: 'museo100';
      font-size: 15px;

      padding: .3em .6em .3em;
      min-width: 100px;
    }
  }
}



.tab-pane .list-group .list-group-item.open {
  border-left: 5px solid @viderty-green;

  a:hover {
    color: @viderty-green;
  }

  .label {
    background: @viderty-green;
  }
}

.tab-pane .list-group .list-group-item.closed {
  border-left: 5px solid @viderty-purple;

  a:hover {
    color: @viderty-purple;
  }

  .label {
    background: @viderty-purple;
  }
}

@media (max-width: 768px) {
  .tab-content {
    padding: 0;
    background: transparent;
    border: 0 none;

    .tab-pane {
      display: block;
      margin-bottom: 20px;

      .xs-pane {
        padding: 10px;
        background: #fff;

        .list-group .list-group-item {
          overflow: hidden;

          a {
            display: block;
          }

          .label {
            margin-top: 10px;
            display: block;
            float: left;
          }
        }
      }
    }
  }

}