<div class="modal-header">
    <h3 class="modal-title">Add Room test</h3>
</div>
<div class="modal-body">
    <form>
        <div class="form-group">
            <label for="name" class="control-label">Room Type</label>
            <select name="name" id="name" ng-model="input.type" class="form-control">
                <option value="null" selected>Standard Room</option>
                <option ng-repeat="room in rooms" value="{{ room.id }}">{{ room.name }}</option>
            </select>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Add Room</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>