<div ng-if="pageHead.isTrial" class="free-trial-header">
  <span>You're currently using a free trial version of viderty to upgrade click <a href="http://viderty.blush.cloud/upgrade/index">here</a></span>
</div>
<div class="page-head">
  <h2>{{ ::pageHead.title }}&nbsp;<small>{{ ::pageHead.shortDescription }}</small></h2>
</div>

<div class="cl-mcont">
  <div class="row">
    <div class="col-md-12 to-edge">
      <div class="block-flat">
        <div class="header no-border">
          <div class="row rm-margin-xs">
          </div>
        </div>
        <div class="content">
          <form ng-submit="" accept-charset="UTF-8" class="form-horizontal group-border-dashed" enctype="multipart/form-data" novalidate>
            <input name="_token" type="hidden" value="qyvzIfKttbOTxibvTPmDmueOPHOJAAZCFVwAvOFG">
            <!-- Images - 1 -->
            <div class="form-group">
              <label for="image" class="col-sm-3 control-label">Property Image</label>                    
              <div class="col-sm-6">
                <input class="form-control" multiple="1" name="image" type="file" id="image">                        
                <span class="help-block"></span>
              </div>
            </div>
            <!-- Images - 2 -->
            <div class="form-group">
              <label for="image_2" class="col-sm-3 control-label">Property Image - 2</label>
              <div class="col-sm-6">
                <input class="form-control" multiple="1" name="image_2" type="file" id="image_2">
              </div>
            </div>
            <div class="form-group ">
              <label for="reference" class="col-sm-3 control-label">Reference</label>
              <div class="col-sm-6">
                <input class="form-control" name="reference" type="text" id="reference">
                <span class="help-block"></span>
              </div>
            </div>
            <div class="form-group ">
              <label for="type" class="col-sm-3 control-label">Property Type</label>
              <div class="col-sm-6">
                <input class="form-control" name="type" type="text" id="type">
                <span class="help-block"></span>
              </div>
            </div>
            <div class="form-group ">
              <label for="address_line_1" class="col-sm-3 control-label">Address Line 1</label>
              <div class="col-sm-6">
                <input class="form-control" name="address_line_1" type="text" id="address_line_1">
                <span class="help-block"></span>
              </div>
            </div>
            <div class="form-group ">
              <label for="address_line_2" class="col-sm-3 control-label">Address Line 2</label>
              <div class="col-sm-6">
                <input class="form-control" name="address_line_2" type="text" id="address_line_2">
                <span class="help-block"></span>
              </div>
            </div>
            <div class="form-group ">
              <label for="city" class="col-sm-3 control-label">City</label>
              <div class="col-sm-6">
                <input class="form-control" name="city" type="text" id="city">
                <span class="help-block"></span>
              </div>
            </div>
            <div class="form-group ">
              <label for="county" class="col-sm-3 control-label">County</label>
              <div class="col-sm-6">
                <input class="form-control" name="county" type="text" id="county">
                <span class="help-block"></span>
              </div>
            </div>
            <div class="form-group ">
              <label for="postcode" class="col-sm-3 control-label">Postcode</label>
              <div class="col-sm-6">
                <input class="form-control" name="postcode" type="text" id="postcode">
                <span class="help-block"></span>
              </div>
            </div>
            <div class="form-group ">
              <label for="bedrooms" class="col-sm-3 control-label">Bedrooms</label>
              <div class="col-sm-6">
                <input class="form-control" name="bedrooms" type="number" id="bedrooms">
                <span class="help-block"></span>
              </div>
            </div>
            <div class="form-group ">
              <label for="bathrooms" class="col-sm-3 control-label">Bathrooms</label>
              <div class="col-sm-6">
                <input class="form-control" name="bathrooms" type="number" id="bathrooms">
                <span class="help-block"></span>
              </div>
            </div>
            <div class="form-group ">
              <label for="furnished" class="col-sm-3 control-label">Furnished?</label>
              <div class="col-sm-6">
                <select class="form-control" id="furnished" name="furnished">
                  <option value="furnished">Furnished</option>
                  <option value="part-furnished">Part Furnished</option>
                  <option value="unfurnished">Unfurnished</option>
                </select>
                <span class="help-block"></span>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-6 col-sm-offset-3">
                <input class="btn btn-viderty viderty-green" type="submit" value="Save &amp; Continue">
                <a ui-sref="dashboard" class="btn btn-viderty viderty-purple">Cancel</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>