<div id="cl-wrapper" class="login-container">
  <div class="middle-login">     
    <div class="block-flat">
      <div class="header">
        <h3 class="text-center">
          <img class="logo-img" src="images/logo.png" alt="logo">
        </h3>
      </div>
      <div>
        <form ng-submit="" accept-charset="UTF-8" class="form-horizontal" novalidate>
          <div class="content">
          <h4 class="title">Create an Account</h4>
          <div class="form-group ">
              <div class="col-sm-12">
                  <label for="control-label">Firstname</label>
                  <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      <input class="form-control" autocomplete="off" placeholder="Firstname" name="firstname" type="text">
                  </div>
                  <span class="help-block"></span>
              </div>
          </div>
          <div class="form-group ">
              <div class="col-sm-12">
                  <label for="control-label">Lastname</label>
                  <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      <input class="form-control" autocomplete="off" placeholder="Lastname" name="lastname" type="text">
                  </div>
                  <span class="help-block"></span>
              </div>
          </div>
          <div class="form-group ">
              <div class="col-sm-12">
                  <label for="control-label">Company Name</label>
                  <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-suitcase"></i></span>
                      <input class="form-control" autocomplete="off" placeholder="Company Name" name="company" type="text">
                  </div>
                  <span class="help-block"></span>
              </div>
          </div>
          <div class="form-group ">
              <div class="col-sm-12">
                  <label for="control-label">Email Address</label>
                  <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                      <input class="form-control" autocomplete="off" placeholder="Email" name="email" type="email">
                  </div>
                  <span class="help-block"></span>
              </div>
          </div>
          <div class="form-group ">
              <div class="col-sm-12">
                  <label for="control-label">Password</label>
                  <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                      <input class="form-control" autocomplete="off" placeholder="Password" name="password" type="password" value="">
                  </div>
                  <span class="help-block"></span>
              </div>
          </div>

          <div class="form-group ">
              <div class="col-sm-12">
                  <label for="control-label">Confirm Password</label>
                  <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                      <input class="form-control" autocomplete="off" placeholder="Password" name="password_confirmation" type="password" value="">
                  </div>
                  <span class="help-block"></span>
              </div>
          </div>
        </div>
        <div class="foot">
          <a href="/" class="btn btn-link">Back to Login</a>
          <input class="btn btn-primary" type="submit" value="Register">
        </div>
        </form>            
      </div>
    </div>
    <div class="text-center out-links"><a href="#">© 2016 Viderty</a></div>
  </div>
</div>
