<div ng-if="pageHead.isTrial" class="free-trial-header">
  <span>You're currently using a free trial version of viderty to upgrade click <a href="http://viderty.blush.cloud/upgrade/index">here</a></span>
</div>
<div class="page-head">
  <h2>{{ ::pageHead.title }}&nbsp;<small>{{ ::pageHead.shortDescription }}</small></h2>
</div>

<div class="cl-mcont">
  <div class="row">
    <div class="col-md-12 to-edge">
      <div class="block-flat">
        <div class="header no-border">
          <div class="row rm-margin-xs">
            <label class="col-sm-12 control-label">New Support Ticket</label>
          </div>
        </div>
        <div class="content">
          <form ng-submit="" accept-charset="UTF-8" class="form-horizontal group-border-dashed" novalidate>
            <input name="_token" type="hidden" value="qyvzIfKttbOTxibvTPmDmueOPHOJAAZCFVwAvOFG">
            <div class="form-group ">
              <label for="subject" class="col-sm-3 control-label">Subject</label>
              <div class="col-sm-6">
                <input class="form-control" name="subject" type="text" id="subject">
                <span class="help-block"></span>
              </div>
            </div>
            <div class="form-group ">
              <label for="description" class="col-sm-3 control-label">Description</label>
              <div class="col-sm-6">
                <textarea class="form-control" rows="20" name="description" cols="50" id="description"></textarea>
                <span class="help-block"></span>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-6 col-sm-offset-3">
                <input class="btn btn-viderty viderty-green" type="submit" value="Save &amp; Continue">
                <a ui-sref="dashboard" class="btn btn-viderty viderty-purple">Cancel</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>