<div ng-if="pageHead.isTrial" class="free-trial-header">
  <span>You're currently using a free trial version of viderty to upgrade click <a href="http://viderty.blush.cloud/upgrade/index">here</a></span>
</div>
<div class="page-head">
  <h2>{{ ::pageHead.title }}&nbsp;<small>{{ ::pageHead.shortDescription }}</small></h2>
</div>

<div class="cl-mcont">                                    
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <a ui-sref="properties-create" class="btn btn-block btn-viderty viderty-green">
        <span class="fa fa-file-text"></span>
        <span class="button-text">Create Property</span>
      </a>
    </div>
    <div class="col-md-4 col-sm-12">
      <a ui-sref="properties-list" class="btn btn-block btn-viderty viderty-blue">
        <span class="fa fa-eye"></span>
        <span class="button-text">View All Properties</span>
      </a>
    </div>
    <div class="col-md-4 col-sm-12">
      <a ui-sref="properties-search" class="btn btn-block btn-viderty viderty-purple">
        <span class="fa fa-search"></span>
        <span class="button-text">Search Property</span>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table viderty-table table-striped">
          <thead>
            <tr>
              <th>Properties</th>
              <th>Type</th>
              <th>Furnished</th>
              <th class="text-center">View</th>
            </tr>
          </thead>
          <tbody>
          <tr>
            <td>adr1, adr2, city, ccc, 12-111-11-11</td>
            <td>aaa</td>
            <td>Part Furnished</td>
            <td class="text-center">
              <!--properties/copyProperty/{id}-->
              <a href="/properties/copyProperty/35" title="Copy Properties"><span class="fa fa-copy"></span></a>&nbsp;&nbsp;
              <a href="http://viderty.blush.cloud/properties/35" title="View Properties"><span class="fa fa-eye"></span></a>&nbsp;&nbsp;
              <a href="http://viderty.blush.cloud/properties/35/edit" title="Edit Properties"><span class="fa fa-edit"></span></a>&nbsp;&nbsp;
              <a href="http://viderty.blush.cloud/properties/35" data-method="delete" title="Delete Properties"><span class="fa fa-trash-o"></span></a>
            </td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <th colspan="2">
            </th>
            <th colspan="2">
              <div class="filter">
                Show:
                <select name="show" id="show" class="show-filter" data-url="http://viderty.blush.cloud">
                  <option value="10" selected>10</option>
                  <option value="25" >25</option>
                  <option value="50" >50</option>
                  <option value="100" >100</option>
                </select>
              </div>
            </th>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs viderty-tabs hidden-xs">
          <li class="active"><a href="#outstanding" data-toggle="tab">Outstanding Issues</a></li>
          <li><a href="#fixed" data-toggle="tab">Fixed Issues</a></li>
          <li><a href="#all" data-toggle="tab">All Support Issues</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="outstanding">
              <ul class="nav nav-tabs visible-xs">
                <li class="active"><a href="#">Outstanding Issues</a></li>
              </ul>
              <div class="xs-pane">
              <ul class="list-group">
                <li class="list-group-item open">
                  <a href="http://viderty.blush.cloud/tickets/3">Test ticket</a> <span class="label label-default">Open</span>
                </li>
              </ul>
              </div>
            </div>
            <div class="tab-pane" id="fixed">
              <ul class="nav nav-tabs visible-xs">
                <li class="active"><a href="#">Fixed Issues</a></li>
              </ul>
              <div class="xs-pane">
                <ul class="list-group">
                </ul>
              </div>
            </div>
            <div class="tab-pane" id="all">
              <ul class="nav nav-tabs visible-xs">
                <li class="active"><a href="#">All Support Issues</a></li>
              </ul>
              <div class="xs-pane">
                <ul class="list-group">
                  <li class="list-group-item open">
                    <a href="http://viderty.blush.cloud/tickets/3">Test ticket</a> <span class="label label-default">Open</span>
                  </li>
                </ul>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>