<div class="modal-header">
    <h3 class="modal-title">Edit Item</h3>
</div>
<div class="modal-body">
    <form>
        <div class="row">
            <div class="form-group" ng-repeat="feature in element.features" ng-if="mode === 'builder'">
                <div class="col-xs-12">
                    <label class="control-label">{{ feature.name }}</label>
                </div>

                <div class="col-sm-2">
                    <select ui-select2="{minimumResultsForSearch: -1}" ng-model="feature.qty" data-placeholder="Qty">
                        <option></option>
                        <option value="{{ n }}" ng-repeat="n in [] | range:20">{{ n }}</option>
                    </select>
                </div>
                <div class="col-sm-5">
                    <input type="hidden" ui-select2="select2OptionsFinishes" ng-model="feature.selectedFinishes" data-placeholder="Choose Finish">
                </div>
                <div class="col-sm-5">
                    <input type="hidden" ui-select2="{ 'multiple': true, 'tags': feature.availableOptions }" ng-model="feature.selectedOptions" data-placeholder="Choose Options">
                </div>
                <div class="col-xs-12" ng-if="feature.allow_multiple">
                    <div class="row">
                        <div class="col-xs-12">
                            <button class="btn btn-primary btn-xs" ng-click="addAdditional(feature)">Add +</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-if="mode === 'phrase'">
                <div class="col-xs-12">
                    <label class="control-label">Phrase</label>
                </div>
                <div class="col-xs-12">
                    <textarea ng-model="input.phrase" rows="5" class="form-control"></textarea>
                </div>
                <div class="col-xs-12">
                    <br />
                    <label class="control-label">Favorites</label>
                    <select ui-select2="{minimumResultsForSearch: -1}" ng-model="input.phrase" data-placeholder="Choose Favorite">
                        <option></option>
                        <option value="{{ phrase.text }}" ng-repeat="phrase in phrases">{{ phrase.text }}</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Add Item</button>
    <button class="btn btn-primary" ng-click="okSave()" ng-if="mode == 'phrase'">Add & Save Favorite</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>