<div ng-if="pageHead.isTrial" class="free-trial-header">
  <span>You're currently using a free trial version of viderty to upgrade click <a href="http://viderty.blush.cloud/upgrade/index">here</a></span>
</div>
<div class="page-head">
  <h2>{{ ::pageHead.title }}&nbsp;<small>{{ ::pageHead.shortDescription }}</small></h2>
</div>

<div class="cl-mcont">                                                
  <div class="row">
    <div class="col-md-12 to-edge">
      <div class="block-flat">
        <div class="header no-border">
          <div class="row rm-margin-xs">
            <label class="col-sm-12 control-label">Company Details</label>
          </div>
        </div>
        <div class="content">
          <form ng-submit="" accept-charset="UTF-8" class="form-horizontal group-border-dashed" enctype="multipart/form-data" novalidate>
            <input name="_method" type="hidden" value="PUT"><input name="_token" type="hidden" value="qyvzIfKttbOTxibvTPmDmueOPHOJAAZCFVwAvOFG">
            <div class="form-group ">
              <label for="company" class="col-sm-3 control-label">Company Name</label>
              <div class="col-sm-6">
                <input class="form-control" name="company" type="text" value="Webvisor" id="company">
                <span class="help-block"></span>
              </div>
            </div>
            <div class="form-group ">
              <label for="logo" class="col-sm-3 control-label">Logo</label>
              <div class="col-sm-6">
                <input class="form-control" name="logo" type="file" id="logo">
                <span class="help-block"></span>
              </div>
            </div>
            <div class="form-group ">
              <label for="inventory_disclaimer" class="col-sm-3 control-label">Notes &amp; Disclaimers</label>
              <div class="col-sm-6">
                <textarea class="form-control" name="inventory_disclaimer" cols="50" rows="10" id="inventory_disclaimer"></textarea>
                <span class="help-block"></span>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-6 col-sm-offset-3">
                <input class="btn btn-viderty viderty-green" type="submit" value="Update Details">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>