<div class="modal-header">
    <h3 class="modal-title">
        Edit Condition

        <a class="btn btn-primary pull-right" ng-click="switchMode()">Use {{ mode == 'builder' ? 'Phrase' : 'Builder' }}</a>
        <a class="btn btn-warning pull-right" ng-if="mode == 'builder'" ng-click="clearOptions()">Clear Options</a>
    </h3>
</div>
<div class="modal-body">
    <form>
        <div class="row">
            <div class="form-group" ng-repeat="feature in element.features" ng-if="mode == 'builder'">
                <div class="col-xs-12">
                    <label class="control-label">{{ feature.feature_name }}</label>
                </div>
                <div ng-repeat="group in feature.condition_groups">
                    <div class="col-sm-2">
                        <select ui-select2="{minimumResultsForSearch: -1}" ng-model="group.qty" data-placeholder="Qty">
                            <option></option>
                            <option value="{{ n }}" ng-repeat="n in [] | range:20">{{ n }}</option>
                        </select>
                    </div>
                    <div class="col-sm-5">
                        <input type="hidden" ui-select2="select2OptionsConditions" ng-model="group.selectedConditions" data-placeholder="Choose Condition">
                    </div>
                    <div class="col-sm-5">
                        <input type="hidden" ui-select2="select2OptionsLocations" ng-model="group.selectedLocations" data-placeholder="Choose Location">
                    </div>
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12">
                                <button class="btn btn-primary btn-xs" ng-click="addAdditional(group, feature)">Add +</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-if="mode == 'phrase'">
                <div class="col-xs-12">
                    <label class="control-label">Phrase</label>
                </div>
                <div class="col-xs-12">
                    <textarea ng-model="input.phrase" rows="5" class="form-control"></textarea>
                </div>
                <div class="col-xs-12">
                    <br />
                    <label class="control-label">Favorites</label>
                    <select ui-select2="{minimumResultsForSearch: -1}" ng-model="input.phrase" data-placeholder="Choose Favorite">
                        <option></option>
                        <option value="{{ phrase.text }}" ng-repeat="phrase in phrases">{{ phrase.text }}</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Save Condition</button>
    <button class="btn btn-primary" ng-click="okSave()" ng-if="mode == 'phrase'">Add & Save Favorite</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>