<div ng-if="pageHead.isTrial" class="free-trial-header">
  <span>You're currently using a free trial version of viderty to upgrade click <a href="http://viderty.blush.cloud/upgrade/index">here</a></span>
</div>
<div class="page-head">
  <h2>{{ ::pageHead.title }}&nbsp;<small>{{ ::pageHead.shortDescription }}</small></h2>
</div>

<div class="cl-mcont">                                        
  <div class="row">
    <div class="col-md-12 to-edge">
      <div class="block-flat">
          <div class="header no-border">
            <div class="row rm-margin-xs">
              <label class="col-sm-12 control-label">My Details</label>
            </div>
          </div>
          <div class="content">
            <form ng-submit="" accept-charset="UTF-8" class="form-horizontal group-border-dashed" enctype="multipart/form-data" novalidate>
              <input name="_token" type="hidden" value="qyvzIfKttbOTxibvTPmDmueOPHOJAAZCFVwAvOFG">
              <div class="form-group ">
                <label for="avatar" class="col-sm-3 control-label">Avatar</label>
                <div class="col-sm-6">
                  <input class="form-control" name="avatar" type="file" id="avatar">
                  <span class="help-block"></span>
                </div>
              </div>
              <div class="form-group ">
                <label for="email" class="col-sm-3 control-label">Email</label>
                <div class="col-sm-6">
                  <input class="form-control" name="email" type="text" value="jnowobilski@webvisor.pl" id="email">
                  <span class="help-block"></span>
                </div>
              </div>
              <div class="form-group ">
                <label for="firstname" class="col-sm-3 control-label">Firstname</label>
                <div class="col-sm-6">
                  <input class="form-control" name="firstname" type="text" value="Jarek" id="firstname">
                  <span class="help-block"></span>
                </div>
              </div>
              <div class="form-group ">
                <label for="lastname" class="col-sm-3 control-label">Lastname</label>
                <div class="col-sm-6">
                  <input class="form-control" name="lastname" type="text" value="Nowobilski" id="lastname">
                  <span class="help-block"></span>
                </div>
              </div>
              <div class="form-group ">
                <label for="support_access" class="col-sm-3 control-label">Support Access</label>
                <div class="col-sm-6">
                  <input class="form-control" name="support_access" type="checkbox" value="1" id="support_access">
                  <span class="help-block"></span>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-6 col-sm-offset-3">
                  <input class="btn btn-viderty viderty-green" type="submit" value="Update Details">
                </div>
              </div>
            </form>
          </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 to-edge">
        <div class="block-flat">
          <div class="header no-border">
            <div class="row rm-margin-xs">
              <label class="col-sm-12 control-label">Change Password</label>
            </div>
          </div>
          <div class="content">
            <form ng-submit="" accept-charset="UTF-8" class="form-horizontal group-border-dashed" novalidate>
              <input name="_method" type="hidden" value="PATCH">
              <input name="_token" type="hidden" value="qyvzIfKttbOTxibvTPmDmueOPHOJAAZCFVwAvOFG">
              <div class="form-group ">
                <label for="password" class="col-sm-3 control-label">Current Password</label>
                <div class="col-sm-6">
                  <input class="form-control" name="password" type="password" value="" id="password">
                  <span class="help-block"></span>
                </div>
              </div>
              <div class="form-group ">
                <label for="new_password" class="col-sm-3 control-label">New Password</label>
                <div class="col-sm-6">
                  <input class="form-control" name="new_password" type="password" value="" id="new_password">
                  <span class="help-block"></span>
                </div>
              </div>
              <div class="form-group ">
                <label for="new_password_confirmation" class="col-sm-3 control-label">Confirm Password</label>
                <div class="col-sm-6">
                  <input class="form-control" name="new_password_confirmation" type="password" value="" id="new_password_confirmation">
                  <span class="help-block"></span>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-6 col-sm-offset-3">
                  <input class="btn btn-viderty viderty-green" type="submit" value="Change Password">
                </div>
              </div>
            </form>
          </div>
        </div>
    </div>
  </div>
</div>