<div class="modal-header">
    <h3 class="modal-title">Edit Interim Condition</h3>
</div>
<div class="modal-body">
    <form>
        <div class="form-group">
            <label for="name" class="control-label">Comments</label>
            <textarea ng-model="input.comment" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="name" class="control-label">Actions</label>
            <textarea ng-model="input.action" class="form-control"></textarea>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Add Condition</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>