<div class="modal-header">
    <h3 class="modal-title">Edit Answer</h3>
</div>
<div class="modal-body">
    <form>
        <div class="form-group">
            <label for="name" class="control-label">{{ input.question }}</label>
            <div>
                <input type="radio" name="answer" value="1"  ng-model="input.answer.answer" class="icheck"/> Yes
                <input type="radio" name="answer" value="0" ng-model="input.answer.answer" class="icheck"/> No
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="control-label">Comments</label>
            <textarea ng-model="input.answer.comments" class="form-control"></textarea>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Add Comment</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>