<div id="cl-wrapper" class="login-container">
  <div class="middle-login">     
    <div class="block-flat">
      <div class="header">
        <h3 class="text-center">
          <img class="logo-img" src="images/logo.png" alt="logo">
        </h3>
      </div>
      <div>
        <form ng-submit="" accept-charset="UTF-8" class="form-horizontal" novalidate>
          <div class="content">
            <h4 class="title">Password Reminder</h4>
            <div class="form-group ">
              <div class="col-sm-12">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user"></i></span>
                  <input class="form-control" autocomplete="off" placeholder="Email" name="email" type="text">
                </div>
                <span class="help-block"></span>
              </div>
            </div>
          </div>
          <div class="foot">
            <a href="/" class="btn btn-link">Back to Login</a>
            <input class="btn btn-primary" type="submit" value="Send Reminder">
          </div>
        </form>            
      </div>
    </div>
    <div class="text-center out-links"><a href="#">© 2016 Viderty</a></div>
  </div>
</div>