<!-- Fixed navbar -->
<div id="head-nav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a ui-sref="dashboard" class="navbar-brand"><span class="sr-only">Viderty</span></a>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right user-nav">
        <li class="dropdown profile_menu">
          <a ng-click="dropDown.littleMenu.open()" class="dropdown-toggle">
            <i class="fa fa-user"></i><span>&nbsp;&nbsp;{{ ::user.firstname }}&nbsp;{{ ::user.lastname }}</span> <b class="caret"></b>
          </a>
          <ul ng-show="dropDown.littleMenu.opened" style="display: block" class="dropdown-menu dropdown-menu-right">
            <li><a ui-sref="account-edit">My Account</a></li>
            <li><a ui-sref="account-company-edit">Company Details</a></li>
            <li class="divider"></li>
            <li><a><strong>Allowances</strong></a></li>
            <li><a>Inventories: <strong>1</strong></a></li>
            <li><a>Check In: <strong>1</strong></a></li>
            <li><a>Interim: <strong>1</strong></a></li>
            <li><a>Check Out: <strong>1</strong></a></li>
            <li class="divider"></li>
            <li><a ng-click="signOut()" data-method="delete">Sign Out</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse animate-collapse -->
  </div>
</div>
<div id="cl-wrapper" class="fixed-menu">
  <div class="cl-sidebar">
    <div class="cl-toggle">
      <div class="cl-expand"><i class="fa fa-bars"></i></div>
      <div class="cl-user">
        {{ ::user.firstname }}&nbsp;{{ ::user.lastname }} &nbsp;
        <img src="https://secure.gravatar.com/avatar/227054610e93eb95f849075ac7da1aa8?s=50&r=g&d=retro" />
      </div>
    </div>
    <div class="cl-navblock">
      <div class="menu-space">
        <div class="content nano-content">
          <div class="side-user">
            <div class="avatar">
              <img src="https://secure.gravatar.com/avatar/227054610e93eb95f849075ac7da1aa8?s=50&r=g&d=retro" alt="Jarek Nowobilski" />
            </div>
            <div class="info">
              <a ui-sref="account-edit">{{ ::user.firstname }}&nbsp;{{ ::user.lastname }}</a>
              <img src="http://viderty.blush.cloud/images/state_online.png" alt="Status" /> <span>Online</span>
            </div>
          </div>
          <ul class="cl-vnavigation">
            <li class="active">
              <a ui-sref="dashboard"><i class="fa fa-home"></i><span>Dashboard</span></a>
            </li>
            <li>
              <a ng-click="dropDown.mainMenuSupport.open()"><i class="fa fa-quote-right"></i><span>Support</span></a>
              <ul ng-show="dropDown.mainMenuSupport.opened" style="display: block" class="sub-menu">
                <li><a ui-sref="tickets-list">View Issues</a></li>
                <li><a ui-sref="tickets-create">Add Ticket</a></li>
              </ul>
            </li>
            <li>
              <a ng-click="dropDown.mainMenuStaff.open()"><i class="fa fa-users"></i><span>Staff</span></a>
              <ul ng-show="dropDown.mainMenuStaff.opened" style="display: block" class="sub-menu">
                <li><a ui-sref="staff-list">Staff Members</a></li>
                <li><a ui-sref="staff-create">Add Staff Member</a></li>
              </ul>
            </li>
            <li>
              <a ui-sref="phrases-list"><i class="fa fa-book"></i><span>Phrases</span></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="text-right collapse-button" style="padding:7px 9px;">
        <button id="sidebar-collapse" class="btn btn-default" style="">
          <i style="color:#fff;" class="fa fa-angle-left"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="container-fluid" id="pcont" ui-view>
  
  </div>
</div>
