<div id="cl-wrapper" class="login-container">
  <div class="middle-login">     
    <div class="block-flat">
      <div class="header">
        <h3 class="text-center">
          <img class="logo-img" src="images/logo.png" alt="logo">
        </h3>
      </div>
      <div>
        <form ng-submit="signIn()" accept-charset="UTF-8" class="form-horizontal" novalidate>
          <input name="_token" type="hidden" value="m2jZAjiWieFMJm0FYzQc7HB2qSAYbs8ZxvPGR1Jw">
          <div class="content">
          <h4 class="title">Login To Account</h4>
          <div class="form-group ">
            <div class="col-sm-12">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input ng-model="login.email" class="form-control" autocomplete="off" placeholder="Email" name="email" type="text">            
              </div>
              <span class="help-block"></span>
            </div>
          </div>
          <div class="form-group ">
            <div class="col-sm-12">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input ng-model="login.pass" class="form-control" autocomplete="off" placeholder="Password" name="password" type="password" value="">            
              </div>
              <span class="help-block"></span>      
            </div>
          </div>
        </div>
        <div class="foot">
          <a ui-sref="createAccount" class="btn btn-link">Create Account</a>
          <a ui-sref="forgot" class="btn btn-link">Forgot Password?</a>
          <input class="btn btn-primary" type="submit" value="Login"></div>
        </form>            
      </div>
    </div>
    <div class="text-center out-links"><a href="#">© 2016 Viderty</a></div>
  </div>
</div>