<div ng-if="pageHead.isTrial" class="free-trial-header">
  <span>You're currently using a free trial version of viderty to upgrade click <a href="http://viderty.blush.cloud/upgrade/index">here</a></span>
</div>
<div class="page-head">
  <h2>
    {{ ::pageHead.title }}&nbsp;<small>{{ ::pageHead.shortDescription }}</small>
    <a ui-sref="phrases-create" class="btn btn-primary btn-title">Add Phrase</a>
  </h2>
</div>

<div class="cl-mcont">                                                
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table viderty-table table-striped">
          <thead>
          <tr>
            <th>Phrase</th>
            <th class="text-center">Options</th>
          </tr>
          </thead>
          <tbody>
            <tr>
              <td>what is this ?</td>
              <td class="text-center">
                <a href="http://viderty.blush.cloud/phrases/6"><span class="fa fa-eye"></span></a>&nbsp;&nbsp;
                <a href="http://viderty.blush.cloud/phrases/6/edit"><span class="fa fa-edit"></span></a>&nbsp;&nbsp;
                <a href="http://viderty.blush.cloud/phrases/6" data-method="delete"><span class="fa fa-trash-o"></span></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>