<div ng-if="pageHead.isTrial" class="free-trial-header">
  <span>You're currently using a free trial version of viderty to upgrade click <a href="http://viderty.blush.cloud/upgrade/index">here</a></span>
</div>
<div class="page-head">
  <h2>{{ ::pageHead.title }}&nbsp;<small>{{ ::pageHead.shortDescription }}</small></h2>
</div>

<div class="cl-mcont">                                    
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table viderty-table table-striped">
          <thead>
          <tr>
            <th>Property</th>
            <th>Property Type</th>
            <th>Furnished</th>
            <th class="text-center">Options</th>
          </tr>
          </thead>
          <tbody>
            <tr>
              <td>adr1, adr2, city, ccc, 12-111-11-11</td>
              <td>aaa</td>
              <td>Part-furnished</td>
              <td class="text-center">
                <a href="/properties/copyProperty/35" title="Copy Property"><span class="fa fa-copy"></span></a>
                <a href="http://viderty.blush.cloud/properties/35"><span class="fa fa-eye"></span></a>
                <a href="http://viderty.blush.cloud/properties/35/edit"><span class="fa fa-edit"></span></a>&nbsp;&nbsp;
                <a href="http://viderty.blush.cloud/properties/35" data-method="delete"><span class="fa fa-trash-o"></span></a>
              </td>
            </tr>
          </tbody>
          <tfoot>
          <tr>
            <th colspan="2">
            </th>
            <th colspan="2">
              <div class="filter">
                Show:
                <select name="show" id="show" class="show-filter" data-url="http://viderty.blush.cloud/properties">
                  <option value="10" >10</option>
                  <option value="25" >25</option>
                  <option value="50" >50</option>
                  <option value="100" selected>100</option>
                </select>
              </div>
            </th>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>