<div ng-if="pageHead.isTrial" class="free-trial-header">
  <span>You're currently using a free trial version of viderty to upgrade click <a href="http://viderty.blush.cloud/upgrade/index">here</a></span>
</div>
<div class="page-head">
  <h2>{{ ::pageHead.title }}&nbsp;<small>{{ ::pageHead.shortDescription }}</small></h2>
</div>

<div class="cl-mcont">                                               
  <div class="row">
    <div class="col-sm-12">
      <form ng-submit="" method="get" novalidate>
        <div class="input-group">
          <p> 
            Range - From:&nbsp;
            <input type="text" id="datepickerFrom" class="form-control" value="" name="fromRange">
            &nbsp; &nbsp;
          </p>
          <br/>
          <p>
            Range - To:&nbsp;
            <input type="text" id="datepickerTo" class="form-control" value="" name="toRange">
          </p>
        </div>
        ( OR )
        <div class="input-group">
          <input type="text" name="query" class="form-control" value="" placeholder="Type any References / Address / City / Country / Postcode">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Search</button>
          </span>
        </div><!-- /input-group -->
      </form>
    </div>
  </div>
</div>