<div class="signature">
    <div class="col-sm-12">
        <canvas class="signature" width="320px" height="170px;"></canvas>
        <div class="buttons">
            <button class="btn btn-viderty viderty-blue" ng-click="save()">Save</button>
            <button class="btn btn-viderty viderty-purple" ng-click="reset()">Reset</button>
        </div>
    </div>
</div>

