<div ng-if="pageHead.isTrial" class="free-trial-header">
  <span>You're currently using a free trial version of viderty to upgrade click <a href="http://viderty.blush.cloud/upgrade/index">here</a></span>
</div>
<div class="page-head">
  <h2>
    {{ ::pageHead.title }}&nbsp;<small>{{ ::pageHead.shortDescription }}</small>
    <a ui-sref="staff-create" class="btn btn-primary btn-title">Add Staff Member</a>
  </h2>
</div>

<div class="cl-mcont">                                          
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table viderty-table table-striped">
          <thead>
            <tr>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Email</th>
              <th>Support Access?</th>
              <th class="text-center">Options</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Jarek</td>
              <td>Nowobilski</td>
              <td>jnowobilski@webvisor.pl</td>
              <td>
              </td>
              <td class="text-center">
                <a href="http://viderty.blush.cloud/staffs/17" data-method="delete"><span class="fa fa-trash-o"></span></a>
              </td>
            </tr>
            <tr>
              <td>Adam</td>
              <td>Wnek</td>
              <td>adam.wnek@webvisor.pl</td>
              <td>
              </td>
              <td class="text-center">
                <a href="http://viderty.blush.cloud/staffs/18" data-method="delete"><span class="fa fa-trash-o"></span></a>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th colspan="3">
              </th>
              <th colspan="3">
              </th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>