<div ng-if="pageHead.isTrial" class="free-trial-header">
  <span>You're currently using a free trial version of viderty to upgrade click <a href="http://viderty.blush.cloud/upgrade/index">here</a></span>
</div>
<div class="page-head">
  <h2>{{ ::pageHead.title }}&nbsp;<small>{{ ::pageHead.shortDescription }}</small></h2>
</div>

<div class="cl-mcont">                                           
  <div class="row">
    <div class="col-lg-12">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs viderty-tabs hidden-xs">
        <li class="active"><a href="#outstanding" data-toggle="tab">Outstanding Issues</a></li>
        <li><a href="#fixed" data-toggle="tab">Fixed Issues</a></li>
        <li><a href="#all" data-toggle="tab">All Support Issues</a></li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="outstanding">
          <ul class="nav nav-tabs visible-xs">
            <li class="active"><a href="#">Outstanding Issues</a></li>
          </ul>
          <div class="xs-pane">
            <ul class="list-group">
              <li class="list-group-item open">
                <a href="http://viderty.blush.cloud/tickets/3">#3 Test ticket</a>
                <span class="label label-default">Open</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="tab-pane" id="fixed">
          <ul class="nav nav-tabs visible-xs">
            <li class="active"><a href="#">Fixed Issues</a></li>
          </ul>
          <div class="xs-pane">
            <ul class="list-group">
            </ul>
          </div>
        </div>
        <div class="tab-pane" id="all">
          <ul class="nav nav-tabs visible-xs">
            <li class="active"><a href="#">All Support Issues</a></li>
          </ul>
          <div class="xs-pane">
            <ul class="list-group">
              <li class="list-group-item open">
                <a href="http://viderty.blush.cloud/tickets/3">#3 Test ticket</a>
                <span class="label label-default">Open</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>