body {
  overflow-x: hidden;
}

body.texture{
	background: url(../../images/bg.jpg);
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.remove-padding-right {
  padding-right: 0;
}

.remove-padding-left {
  padding-left: 0;
}

@media (max-width: 767px) {

  .rm-margin-xs {
    margin-top: 0 !important;
  }

  .remove-padding-right {
    padding-right: 15px;
  }

  .remove-padding-left {
    padding-left: 15px;
  }

  .to-edge {
    padding-left: 0;
    padding-right: 0;
  }

  .cl-mcont {
    padding: 0 15px;
  }

  .block-flat {
    border: 0 none;
    box-shadow: none;
  }

  .back-to-top {
    display: none !important;
  }
}