@font-face {
  font-family: 'museo100';
  src: url('/assets/fonts/museo/100/museo100-regular-webfont.eot');
  src: url('/assets/fonts/museo/100/museo100-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/museo/100/museo100-regular-webfont.woff') format('woff'),
  url('/assets/fonts/museo/100/museo100-regular-webfont.ttf') format('truetype'),
  url('/assets/fonts/museo/100/museo100-regular-webfont.svg#museo300') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'museo300';
  src: url('/assets/fonts/museo/300/museo300-regular-webfont.eot');
  src: url('/assets/fonts/museo/300/museo300-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/museo/300/museo300-regular-webfont.woff') format('woff'),
  url('/assets/fonts/museo/300/museo300-regular-webfont.ttf') format('truetype'),
  url('/assets/fonts/museo/300/museo300-regular-webfont.svg#museo300') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Open Sans', sans-serif;
}