@import 'variables.less';

.block-flat .header.viderty-dark-blue {
  background: white !important;
}

.block-flat.with-padding .content {
  padding: 15px 0;
}

.block-flat .content .property-image {
  display: inline-block;
  position: relative;
  margin: 20px 0;

  @media (max-width: 768px) {
    & {
      margin: 0;
      width: 100%;
    }
  }

  img {
    padding-bottom: 45px;

    @media (max-width: 768px) {
      &.img-thumbnail {
        width: 100%;
        padding: 0;
        border: 0;
        border-radius: 0;
      }
    }
  }

  a {
    box-sizing: content-box;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: @viderty-green;
    margin: 5px;
    padding: 10px;
    color: #fff;
    font-size: 14px;

    &:hover {
      background: lighten(@viderty-green, 10%);
    }

    @media (max-width: 768px) {
      display: block;
      position: inherit;
      margin: 0;
      border-bottom: 1px solid #fff;
    }
  }
}

.block-flat .content {
  .panel-group {
    margin-bottom: 0;

    .panel {
      border-radius: 0;
      border: 0 none;

      & + .panel {
        margin-top: 0;
      }
    }

    .panel-heading {
      border-radius: 0;
      background: @viderty-blue;
      color: #fff;

      h4 {
        margin-top: 0;
      }
    }
  }
}

.viderty-accordion > .panel-group > .panel > .panel-heading > .panel-title a,
{
  color: #fff;
}

.viderty-accordion > .panel-group > .panel > .panel-heading > .panel-title input {
  color: #333;
}

.viderty-accordion > .panel-group > .panel > .panel-collapse > .panel-body {
  padding: 0 15px;
}

.viderty-inventory-item, .viderty-inventory-feature {
  margin-top: 0 !important;
}

.viderty-inventory-item {
  .inventory-heading {
    background: #efefef;
    @media (max-width: 768px) {
      background: @viderty-purple;
      color: #fff;
    }
    border-bottom: 1px solid #fff;
  }

  > div {
    padding: 10px 15px;
  }

  > .viderty-inventory-feature {
    padding: 0 15px;
    clear: left;
    position: relative;
    border-bottom: 1px solid #efefef;
    background: #fff;
    color: #444;

    .feature-title {
      font-weight: bold;
      text-decoration: underline;
    }

    @media (max-width: 768px) {
      .feature-title {
        background: #efefef;
      }
    }
    .visible-xs {
      background: lighten(#efefef, 3%);
    }

    > div {
      padding: 10px 15px;

      @media (max-width: 768px) {
        clear: left;
      }

      .fa {
        margin-right: 10px;
        font-size: 1.5em;
        cursor: pointer;
      }

      .fa-camera-retro {
        color: @viderty-blue;
        &:hover {
          color: lighten(@viderty-blue, 10%);
        }

      }

      .fa-times-circle {
        color: @viderty-red;
        &:hover {
          color: lighten(@viderty-red, 10%);
        }
      }
    }

    .viderty-inventory-images {
      border-top: 1px solid #efefef;
      padding-top: 30px;
      margin-top: -10px !important;

      .thumbnail {
        position: relative;

        .thumbnail-delete {
          font-size: 1.2em;
          position: absolute;
          top: -12px;
          right: -20px;
          color: @viderty-red;
          &:hover {
            color: lighten(@viderty-red, 10%);
          }
        }
      }
    }
  }
}

.room-video {
  .thumbnail {
    max-width: 1280px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    .thumbnail-delete {
      font-size: 1.5em;
      position: absolute;
      top: -15px;
      right: -8px;
      color: #992b2b;
    }
  }

  video {
    width: 100%;
  }
}

.viderty-inventory-feature-actions {
  padding-top: 10px;
  padding-bottom: 5px;
  border-top: 1px solid #efefef;
}

.select2-container-multi, .select2-container {
  width: 100%;
}

div.signature {
  width: 100%;

  canvas.signature {
    margin: 20px auto;
    display: block;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 5px #ddd;
  }

  .buttons {
    text-align: center;
    margin-bottom: 20px;
  }
}

.different {
  color: #c0392b;
}

.modal-body input, .modal-body .select2-container {
  margin-bottom: 10px;
}