@import '../../variables.less';

/*Pagination*/
.pagination {
	margin:18px 0;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
	background-color: #2083D6;
}
